/* ------------------------------------------------------------ *\
  build
\* ------------------------------------------------------------ */

@import '../styles/variables.scss';

.build-container .title-with-image {
  /* Tablet Portrait */
  @media (max-width: 1023px) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    img {
      flex: 0 0 50%;
      max-width: 64px;
    }
  }
}

.Build {
  a {
    text-decoration: none;
    white-space: nowrap;
    border-bottom: dotted 1px #fff;

    /* Tablet Portrait */
    @media (max-width: 1023px) {
      white-space: normal;
      font-size: 14px;
    }
  }

  .Build__head {
    text-align: center;
    margin-bottom: 20px;
  }

  .Build__body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  .Build__col {
    flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
    border: solid 1px $c-dark-3;
    background-color: $c-dark-2;
    padding: 15px;
    margin-bottom: 16px;

    /* Tablet Portrait */
    @media (max-width: 1023px) {
      max-width: 100%;
      flex: 0 0 100%;
      border: none;
      padding: 0;
    }

    &.Build__col--full {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
