/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

@import '../styles/variables.scss';

.Header {
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .Header__inner {
    background-color: $c-dark;
    box-shadow: 0 0 10px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 30px;

    /* Tablet Portrait */
    @media (max-width: 1023px) {
      padding: 10px 15px;
    }
  }

  .nav-open {
    transform: translateY(4px);
    display: none;

    /* Tablet Portrait */
    @media (max-width: 1023px) {
      display: block;
    }
  }
}
