/* ------------------------------------------------------------ *\
  table
\* ------------------------------------------------------------ */

@import '../styles/variables.scss';

.table {
  border: solid 1px $c-dark-3;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;

  /* Tablet Portrait */
  @media (max-width: 1023px) {
    overflow: auto;
  }

  th,
  td {
    position: relative;
    padding: 5px 10px;
  }

  th {
    background-color: $c-black;
    font-weight: 300;
    text-transform: capitalize;
  }

  tr:nth-child(even) td {
    background-color: $c-dark-2;
  }

  tr:hover td {
    background-color: $c-dark-3;
  }

  td a {
    font-weight: 400;
    text-decoration: none;

    /* Tablet Portrait */
    @media (max-width: 1023px) {
      white-space: nowrap;
    }
  }

  td:first-child {
    text-align: left;
  }

  // Table note
  td.table__note {
    display: none;
  }

  tr.note-active td:not(:first-child):not(.table__note):not(:last-child):not(.table__note-trigger) {
    display: none;
  }

  tr.note-active td.table__note {
    display: table-cell;
  }
  // End of table note

  .table__note-trigger a {
    color: $c-dark-3;
    text-decoration: none;
    pointer-events: none;
  }

  .table__note-trigger.has-note a {
    font-weight: 700;
    color: $c-item-artifact;
    pointer-events: all;
  }

  td.table__action {
    font-weight: 700;
    color: rgba($c-item-uncommon, 0.6);
    text-align: center;
    position: relative;
    width: 40px;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 3px;
      background-color: $c-item-uncommon;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(90deg);
      transform-origin: center;
    }
  }

  .table__note {
    display: flex;
    justify-content: space-between;
  }

  // Rarity
  $rarities: ("1": limegreen, "2": yellow, "3": orange, "4": red, "5": cyan);

  @each $index, $color in $rarities {
    tr.rarity-#{$index} td:first-child::before {
      background-color: $color;
    }
  }

  tr[class^="rarity-"] td:first-child {
    &::before {
      content: '';
      width: 10px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
}
