/* ------------------------------------------------------------ *\
  table
\* ------------------------------------------------------------ */

.table {
  border: solid 1px var(--c-dark-3);
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

/* Tablet Portrait */
@media (max-width: 1023px) {
  .table {
    overflow: auto;
  }

  .table td a {
    white-space: nowrap;
  }
}

.table th,
.table td {
  position: relative;
  padding: 5px 10px;
}

.table th {
  background-color: var(--c-black);
  font-weight: 300;
  text-transform: capitalize;
}

.table tr:nth-child(even) td {
  background-color: var(--c-dark-2);
}

.table tr:hover td {
  background-color: var(--c-dark-3);
}

.table td a {
  font-weight: 400;
  text-decoration: none;
}

.table td:first-child {
  text-align: left;
}

.table td.table__note {
  display: none;
}

.table tr.note-active td:not(:first-child):not(.table__note):not(:last-child) {
  display: none;
}

.table tr.note-active td.table__note {
  display: table-cell;
}

.table tr .table__note-trigger a span:last-child {
  display: none;
}

.table tr .table__note-trigger a span:first-child {
  display: block;
}

.table tr.note-active .table__note-trigger a span:last-child {
  display: block;
}

.table tr.note-active .table__note-trigger a span:first-child {
  display: none;
}

.table .table__note-trigger a {
  color: var(--c-dark-3);
  text-decoration: none;
  pointer-events: none;
}

.table__note-trigger.has-note a {
  font-weight: 700;
  color: var(--c-item-artifact);
  pointer-events: all;
}

.table .table__note {
  display: flex;
  justify-content: space-between;
}

/* Rarity */
tr.rarity-1 td:first-child::before {
  background-color: limegreen;
}

tr.rarity-2 td:first-child::before {
  background-color: yellow;
}

tr.rarity-3 td:first-child::before {
  background-color: orange;
}

tr.rarity-4 td:first-child::before {
  background-color: red;
}

.table tr[class^="rarity-"] td:first-child::before {
  content: "";
  width: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
